.crystals{
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.crystal{
	height:200px;
	width: 200px;
	border-radius: 4px;
}

img{
	width:50px;
}
.wallpaper {
    background-size: 100%;
    background-image: url("../images/crystalsbackground.jpeg");
    text-align: center;
    }

.header {
    font-family: 'Lexend Deca', sans-serif;
}

.p {
    font-family: 'Lexend Deca', sans-serif;
}